@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a202c;
    font-family: "Inter", sans-serif;
}

.main-title {
    font-weight: 900;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    margin: 112px 0px 8px 0px;
}

.main-subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    margin-bottom: 32px;
}

.search-box {
    background-color: #fff;
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 6px;
}

.search-field {
    border: none;
    outline: none;
    width: 90%;
    background-color: transparent;
    padding-left: 8px;
}

.search-field::placeholder {
    color: #a0aec0;
}

.search-buttom {
    background-color: #718096;
    border: none;
    outline: none;
    padding: 12px 24px;
    border-radius: 0px 6px 6px 0px;
}

.results-box {
    background-color: #fff;
    width: 440px;
    margin: 0 auto;
    margin-top: 16px;
    border-radius: 6px;
    padding: 16px;
}

.results-items{
    margin-bottom: 8px;
}

.title{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #1a202c;
}

.value{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #718096;
}

/* tablet */

@media (min-width: 768px) {
    .search-box {
        width: 50%;
    }
}

/* Desktop */

@media (min-width: 1024px) {
    .search-box {
        width: 440px;
        height: 48px;
    }
}
